.works-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 9rem;
}

.works-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-in;
  border-radius: 0.4rem;
  overflow: hidden;
}

.works-item:hover {
  filter: grayscale(1);
}

.works-item:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  opacity: 0.75;
}

.works-text {
  position: absolute;
  text-align: center;
  color: var(--color-black);
  z-index: 1;
  display: none;
  width: 80%;
}

.works-item:hover .works-text {
  display: block;
}

.works-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
}

.works-year {
  font-weight: 300;
  line-height: 2;
}

.works-img {
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.works-item:hover .works-img {
  filter: blur(2px);
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.works-not-found {
  width: 100%;
  height: 45vh;
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.works-not-found-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.works-not-found-text {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 900px) {
  .works-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .works-not-found {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 600px) {
  .works-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 -1rem;
  }

  .works-item {
    border-radius: 0rem;
  }

  .works-not-found {
    grid-column: 1 / span 1;
  }
}
