/* 
 * HEADER
 */
#header {
  position: fixed;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

.menu-btn {
  width: 40px;
  height: 30px;
}

.menu-btn svg {
  fill: var(--color-black);
}

.page-indicator {
  width: 0.15rem;
  height: 30%;
  background: hsla(0, 0%, 50%, 0.3);
}

.page-indicator-value {
  width: 100%;
  height: 0%;
  background: var(--color-black);
  position: relative;
}

.page-indicator-percentage {
  position: absolute;
  bottom: -0.3rem;
  left: 0.7rem;
}

.dark-mode-toggle {
  width: 40px;
  height: 40px;
  position: relative;
}

.dark-mode-toggle p {
  color: var(--color-black);
  position: absolute;
  top: 50%;
  right: 0;
  width: 100px;
  font-size: 0.9rem;
  text-transform: capitalize;
  text-align: right;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.7;
  display: none;
}

.dark-mode-toggle:hover p {
  display: block;
}

.dark-mode-toggle svg {
  transition: var(--transition);
  fill: var(--color-black);
}

.dark-mode-toggle:hover svg {
  transform: scale(0.9);
}

.dark-mode-toggle:active svg {
  transform: scale(1);
}

@media (max-width: 1280px) {
  #header {
    flex-direction: row-reverse;
    top: 3rem;
    right: 0;
    height: 3rem;
    width: 100%;
    padding: 0 3rem;
  }

  .page-indicator {
    display: none;
  }
}

@media (max-width: 640px) {
  #header {
    top: 2rem;
    padding: 0 1.4rem;
  }

  .menu-btn,
  .dark-mode-toggle {
    width: 2rem;
    height: 2rem;
  }
}
